* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-box {
  width: 400px;
  height: 400px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-box {
  border-color: black;
  background-color: white;
  width: 250px;
  height: 250px;
  clip-path: polygon(50% 0, 100% 27%, 100% 71%, 50% 100%, 0 71%, 0 27%);
}
